*{
    scroll-behavior: smooth;
}

#about{
    position: relative;
    width:  100%;
}
section{
    position: absolute;
    height: 100vh;
}

@media (max-width: 576px) { 
    .aboutimg{
        display: none;
    }
 }